# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# SECRET_KEY
SECRET_KEY=your_secret_key_here

DEBUG=bool         # Установите в True для разработки, в False для production

# Конфигурация базы данных
DB_NAME=mydatabase    # Имя базы данных
DB_USER=username      # Имя пользователя базы данных
DB_PASSWORD=password  # Пароль базы данных
DB_HOST=localhost     # Хост для базы данных
DB_PORT=myport        # Порт базы данных

# Конфигурация почты
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_PORT=your_email_port
EMAIL_HOST=your_email_host

# Конфигурация кеша
REDIS_URL=your_redis_url_here

GITHUB_TOKEN=your_github_token_here
